[Unit]
Description=Logstash Forwarder
After=syslog.target

[Service]
WorkingDirectory=/opt/logstash-forwarder
ExecStart=/opt/logstash-forwarder/logstash-forwarder -config /opt/logstash-forwarder/logstash-forwarder.conf -spool-size 100
Restart=on-failure
StandardError=null
StandardOutput=null

[Install]
WantedBy=multi-user.target
